/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #ECECEC;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: rgb(47, 165, 165); }
a:hover   { color: #000; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
  width: 100%;
  padding-left: 20em;
  position:relative;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
  font-size: 3rem;
  line-height: 1.1667;
}

.title a {
  color: rgb(233, 67, 67);;
}

.title a:hover {
  color: white;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 18em;
  position: absolute; 
  bottom: 0;
  height:115px;
  width:100%; 
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


#content {
  padding:10px;
  padding-bottom:10em;   /* Height of the footer element */
}


#social{
  background-color:#e1e1e1;
  padding:05px;
  width:100%;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -ms-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
}

#social ul{
  text-align: center;
  padding-right: 3%;
  margin:40px auto;
}

#social p{
  text-align:center;
  font-family:Arial;
  font-weight:bold;
  opacity:.4;
  padding:10px;
}

#social ul > li {
  display: inline-block;
  margin: 0 15px;
  background-image: url('http://codingdroid.com/wp-content/uploads/sprite2.png');
  opacity: .4;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -ms-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

#social ul > li > a {
  display: block;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
}

#social ul > li.facebook { background-position:0 0; }
#social ul > li.twitter  { background-position:0 -36px; }
#social ul >  li.google { background-position:0 -72px; }
#social ul >  li.youtube { background-position:0 -144px; }

#social ul  > li.facebook:hover { background-position:-36px 0; }
#social ul > li.twitter:hover { background-position:-36px -36px; }
#social ul > li.google:hover { background-position:-36px -72px; }
#social ul > li.youtube:hover { background-position:-36px -144px; }

.facebook.active{
  background-color:#3B5998  !important;
}
.twitter.active{
  background-color:#2094CA !important;
}
.google.active{
  background-color:#C92228 !important;
}
.pinterest.active{
  background-color:#C92228 !important;
}

.active p{
  opacity:.7 !important;
  color:white;
}





